@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/static/asset/image/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;

}

.container {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

.input-group .form-control {
    border-right: none;
}

.input-group .input-group-text {
    background-color: white;
    border-left: none;
}

.bsb-btn-xl{
    --bs-btn-padding-y:0.625rem;
    --bs-btn-padding-x:1.25rem;
    --bs-btn-font-size:calc(1.26rem + 0.12vw);
    --bs-btn-border-radius:var(--bs-border-radius-lg)
}

@media(min-width:1200px){
    .bsb-btn-xl{
        --bs-btn-font-size:1.25rem
    }
}

.bsb-btn-2xl{
    --bs-btn-padding-y:0.75rem;
    --bs-btn-padding-x:1.5rem;
    --bs-btn-font-size:calc(1.27rem + 0.24vw);
    --bs-btn-border-radius:var(--bs-border-radius-lg)
}

@media(min-width:1200px){
    .bsb-btn-2xl{
        --bs-btn-font-size:1.35rem
    }
}

.bsb-btn-3xl{
    --bs-btn-padding-y:0.875rem;
    --bs-btn-padding-x:1.75rem;
    --bs-btn-font-size:calc(1.28rem + 0.36vw);
    --bs-btn-border-radius:var(--bs-border-radius-lg)
}

@media(min-width:1200px){
    .bsb-btn-3xl{
        --bs-btn-font-size:1.45rem
    }
}

.bsb-btn-4xl{
    --bs-btn-padding-y:1rem;
    --bs-btn-padding-x:2rem;
    --bs-btn-font-size:calc(1.29rem + 0.48vw);
    --bs-btn-border-radius:var(--bs-border-radius-lg)
}

@media(min-width:1200px){
    .bsb-btn-4xl{
        --bs-btn-font-size:1.55rem
    }
}

.bsb-btn-5xl{
    --bs-btn-padding-y:1.125rem;
    --bs-btn-padding-x:2.25rem;
    --bs-btn-font-size:calc(1.3rem + 0.6vw);
    --bs-btn-border-radius:var(--bs-border-radius-lg)
}

@media(min-width:1200px){
    .bsb-btn-5xl{
        --bs-btn-font-size:1.65rem
    }
}